<% provide(:title, "About") %>

<h1>The Map Builder Project</h1>

<p>Map Builder (not an official name) is a social web-based game where users can build their own customizable city using a map that represents any real world city. </p>

<h3>Development</h3>
<p> The project was first proposed in January 2014 by Erez Morag and picked up by a group of students who are taking the Web Practicum course at City College of San Francisco. The members of the project consisted of Thuong Ho and Justin Martz. Graphics were provide with the collaboration of the Visual Media Design team led by Ryder. The team consisted of Ryder, Jason, Karen, Sally, Alex, and Joshua. </p>

