<% provide(:title, 'Map') %>
<div class="center hero-unit">
  <h1>MapIt</h1>

  <h2>Create your own city!</h2>
  <%= link_to "Play as Guest", '#', class: 'btn btn-large btn-primary' %>
  <%= link_to "Log in", signin_path, class: 'btn btn-large btn-primary' %>
  <%= link_to "Create an account", signup_path %>
</div>