<% provide(:title, "Home Portal") %>
<h1>Top Ranking Cities</h1>
<p>Some synopsis about how to get on this page</p>

<p>Search</p>
<%= link_to "Browse City", '#' %>
<br>
<%= link_to "Build City", new_user_map_path(current_user), class: 'btn btn-large btn-primary' %>
<!--  link_to "Build City", city_path, class: 'btn btn-large btn-primary' %> -->


