<% content_for :head, javascript_include_tag(:map_custom, :panzoom) %>

<h1><%= @map.city_name %></h1>

<!-- <div class="flip">
  <h5>View/Hide</h5>
</div> -->
<div class="icon-holder">
  <div id="icons">
    <h1 class="ui-widget-header">Icons</h1>  
    <div id="catalog">
    <!-- Street icons -->
      <h2><a href="#">Street</a></h2>
      <div>
      <div class="bl blue street1"></div>
      <div class="bl blue street2"></div>
      <div class="bl blue street3-1"></div>
      <div class="bl blue street3-2"></div>
      <div class="bl blue street3-3"></div>
      <div class="bl blue street3-4"></div>
      <div class="bl blue street4-1"></div>
      <div class="bl blue street4-2"></div>
      <div class="bl blue street4-3"></div>
      <div class="bl blue street4-4"></div>
      <div class="bl blue street5"></div>
      </div>
    <!-- Building icons -->
      <h2><a href="#">Building</a></h2>
      <div>
      <div class="bl coral building1"></div>
      <div class="bl coral building2"></div>
      <div class="bl coral building3"></div>
      <div class="bl coral building4"></div>
      <div class="bl coral building5"></div>
      <div class="bl coral building6"></div>
      <div class="bl coral building7"></div>
      <div class="bl coral building8"></div>
      <div class="bl coral building9"></div>
      <div class="bl coral building10"></div>
      <div class="bl coral building11"></div>
      <div class="bl coral building12"></div>
      <div class="bl coral building13"></div>
      <div class="bl coral building14"></div>
      </div>
      <!-- Landmark icons -->
      <h2><a href="#">Landmark</a></h2>
      <div>
      <div class="bl pink landmark1"></div>
      <div class="bl pink landmark2"></div>
      <div class="bl pink landmark3"></div>
        
      </div>
    </div>
  </div>
</div>
  <!-- Canvas for building the city -->
  <div id="canvas">
    <div id="cArea" class="ui-widget-content canvas-area">
    </div>
    <!-- end of cArea -->
  </div>
  <!-- end of Canvas -->

  </div>
  <br>
  <!-- zoom buttons -->
  <div>
    <button class="zoom-in">Zoom In</button>
    <button class="zoom-out">Zoom Out</button>
    <button class="stop-pan">Toggle Panning</button>
    <input type="range" class="zoom-range">
  </div>
  <!-- end of zoom buttons -->