<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <!-- Need to change the username to the top bar -->
      <h1><%= @user.username %></h1>
    </section>
    <section>
      <h4>Search</h4>
      <input type="text" />
    </section>
    <section>
      <h4><%= link_to "Build new city", city_path %></h4>
    </section>
    <% if @user.maps.any? %>
    <section>
      <h4><%= pluralize(@user.maps.count, "City") %> under your control</h4>
    </section>
    <div class="span8">
      <ol class="maps">
        <%= render @maps %>
      </ol>
      <% end %>
    </div>
  </aside>
</div>